@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

p,
h1, 
h2 {
    font-family: inherit;
}

/* VARIABLES */


/* GENERAL STYLES */

html {
    background-color: #f6f6f6;
    color: #333;
    font-size: 1rem;
    font-family: "PT+Sans", Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #fff;
}

/* NAVIGATION */

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #bababa;
}

.navbar .head__container {
    list-style: none;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}

.navbar .left-side {
    display: flex;
    flex-flow: row no-wrap;
    font-size: 1rem;
    gap: 0.8rem;
}

.navbar .right-side {
    display: flex;
    flex-flow: row no-wrap;
    font-size: 0.8rem;
    margin-right: 1.5rem;
}

.navitem {
    margin: 0 0.6rem;
    font-weight: 700;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navlink {
    color: #333;
    text-decoration: none;
}

.navbar__logo {
    margin: 4px 20px 0 40px;
}

.more {
    color: #ff764d;
}

.free {
    color: #0000ff;
    font-size: 1.1rem;
    font-weight: 500;
}

/* HEADER */

.second-bar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    gap: 1.8rem;
    padding: 1.5rem 2.5rem;
}

.second-bar__link {
    text-decoration: none;
    font-size: 0.9em;
    color: #333;
    font-weight: 700;
}

.second-bar__link:first-child {
    color: #ff764d;
}

.head-img {
    margin: 0 auto;
    width: 83vw;
    height: 85vh;
    background-image: url("images/producer.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ableton-title {
    color: #ff764d;
    font-size: 8rem;
    letter-spacing: -3px;
}

/* BODY */

.passage-1 {
    margin-top: 7rem;
    padding: 0 25%;
    line-height: 2.5rem;
    font-size: 1.05em;
}

.passage-1__link {
    color: #0000ff;
}

.passage-1 p {
    margin-top: 1rem;
    line-height: 1.9rem;
    font-weight: 450;
    font-size: 1.03em;
}

.pictures-1 {
    height: 100vh;
    margin-top: 8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.pictures-1__image-1 {
    margin: 0;
    object-fit: cover;
    width: 37rem;
    height: 37rem;
    z-index: 1;
}

.pictures-1__image-2 {
    object-fit: contain;
    width: 30rem;
    height: 20rem;
    box-shadow: 1.5rem 0rem 0px 16rem #fbffa7;
}

.passage-2 {
    margin-top: 7rem;
    padding: 0 25%;
    line-height: 2.5rem;
    font-size: 1.05em;
}

.passage-2 p {
    margin-top: 1rem;
    line-height: 1.9rem;
    font-weight: 450;
    font-size: 1.03em;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.video {
    aspect-ratio: 16 / 9;
    width: 45rem;;
}

.passage-3 {
    margin-top: 7rem;
    padding: 0 25%;
    line-height: 2.5rem;
    font-size: 1.05em;
}

.passage-3 p {
    margin-top: 1rem;
    line-height: 1.9rem;
    font-weight: 450;
    font-size: 1.03em;
}

.pictures-2 {
    margin-top: 7rem;
    position: relative;
}

.pictures-2-left {
    height: 134.5vh;
    width: 58.3vw;
    background-color: #b6ffc0;
    position: relative;
}

.left-image-1 {
    position: absolute;
    top: 7.7rem;
    left: 120px;
    object-fit: cover;
    width: 30rem;
    height: 22.5rem;
}

.left-image-2 {
    position: absolute;
    top: 37.5rem;
    left: 120px;;
    object-fit: cover;
    width: 30rem;
    height: 22.5rem;
}

.pictures-2-right {
    position: absolute;
    top: 15rem;
    left: 45rem;
}

.right-image {
    object-fit: cover;
    width: 35rem;
    height: 38rem;
}